<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>新闻模块</string>
		<key>Url</key>
		<string>zmc://news/index</string>
		<key>Title</key>
		<string>新闻</string>
		<key>TitleColor</key>
		<string>#9CA1A7</string>
		<key>SelectedTitleColor</key>
		<string>#E52B2C</string>
		<key>Image</key>
		<string>app_tab_news_default</string>
		<key>SelectedImage</key>
		<string>app_tab_news_selected</string>
		<key>NavBackgroundImage</key>
		<string></string>
		<key>NavTitleLogoImage</key>
		<string>app_navigation_title_logo</string>
		<key>NavTitleLogoLocation</key>
		<integer>1</integer>
		<key>NavBarSearchBarShownStatus</key>
		<true/>
		<key>StatusBarDefaultShownStatus</key>
		<true/>
		<key>SegmentPointerShownStatus</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>社群模块</string>
		<key>Url</key>
		<string>zmc://service/index</string>
		<key>Title</key>
		<string>社群</string>
		<key>TitleColor</key>
		<string>#9CA1A7</string>
		<key>SelectedTitleColor</key>
		<string>#E52B2C</string>
		<key>Image</key>
		<string>app_tab_community_default</string>
		<key>SelectedImage</key>
		<string>app_tab_community_selected</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>小视频模块</string>
		<key>Url</key>
		<string>zmc://TikTok/homePage?forumId=56</string>
		<key>Title</key>
		<string>小视频</string>
		<key>TitleColor</key>
		<string>#9CA1A7</string>
		<key>SelectedTitleColor</key>
		<string>#E52B2C</string>
		<key>Image</key>
		<string>app_tab_local_default</string>
		<key>SelectedImage</key>
		<string>app_tab_local_selected</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>活动模块</string>
		<key>Url</key>
		<string>zmc://localChannel/homePage</string>
		<key>Title</key>
		<string>地方号</string>
		<key>TitleColor</key>
		<string>#9CA1A7</string>
		<key>SelectedTitleColor</key>
		<string>#E52B2C</string>
		<key>Image</key>
		<string>app_tab_activity_default</string>
		<key>SelectedImage</key>
		<string>app_tab_activity_selected</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>我的模块</string>
		<key>Url</key>
		<string>zmc://mine/index</string>
		<key>Title</key>
		<string>我的</string>
		<key>TitleColor</key>
		<string>#9CA1A7</string>
		<key>SelectedTitleColor</key>
		<string>#E52B2C</string>
		<key>Image</key>
		<string>app_tab_personal_default</string>
		<key>SelectedImage</key>
		<string>app_tab_personal_selected</string>
	</dict>
</array>
</plist>
